body{
    background-image: url(images/ete_corona.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divA{
    margin-top: 80px;
    margin-left: 380px;
    margin-bottom: 40px;
}

#country{
    margin-right: 70px;
}

#startDate{
    margin-right: 70px;
}

#endDate{
    margin-right: 70px;
}

#submit{
    background-color: blue;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.div_b{
    background-color: blue;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    color: white;
}